article {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .buts {
        display: flex;
        width: 90%;
        justify-content: space-between;
        list-style-type: none;

        .equipeExt {
            text-align: right;
        }

    }
    
    .statistiques {

        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 767px) {

    article {

        .buts {

            width: 100%;

            li {
                font-size: 0.85em;
            }
        }


    }
}