.competitions {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 2%;

    div {
        display: flex;
        justify-content: center;
        background-color: aliceblue;
        gap: 2%;

        a {
            width: 15%;
            display: flex;
            justify-content: center;
            border: 1px solid;
            padding-block: 1%;

            article {
                display: flex;
                justify-content: center;

            img {
                width: 80%;
            }
        }
        }
    }
}

